frr defaults datacenter
hostname {{ inventory_hostname }}
log syslog informational
zebra nexthop proto only
service integrated-vtysh-config
!
{%   include './features/vrfs.j2' %}
!
{%   include './features/bgp.j2' %}
!
line vty
!
